BusinessCard {
    font-family: Arial,Helvetica,sans-serif;
    background-color: #DACFE5;
    width: 300px;
    display: block;
    padding: 10pt;
    border: 1px solid #OD3427;
    margin: 5px;
    text-align: left;
}

Name {
    color: #OD3427;
    font-weight: bold;
    font-dize: 140%;
    display: block;
    margin-botton: 3%;
}

email {
    color: #OD3427;
    font-size: 90%;
    font-weight: bold;
    display: block;
    margin-top: 3%;
}
email:before {content: "e-mail: "}


phone {
    font-size: 90%;
    color: #523819;
    font-size: 90%;
    display: block;
}
phone:before {content: attr(type) ": "}
phone[primary]:after{content: " (" attr(primary) ")" }