@media only screen and (max-width: 480px) {
p {
    background-color:yellow;
}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
p {
    background-color:red;
}
}

@media only screen and (min-width: 769px) {
 p {
   background-color:blue;
}
}


